// Jade file to specify output of login page
// Inherits from layout
extend layout
block navbarcontent
  table
    tbody
      tr
        td(height="17")
      tr
        td(width='200')
          +nav_item("/") Hompage 
        td(width='45')
        td(width='200')
          +nav_item("/login","active") Login  
        td(width='45')
        td(width='200')
          +nav_item("/question") Q & A
block content
  p
    h3 
      |Login or Register
    table
      tbody
        tr
          td
            form(method="get", action="/localLogin")
              input(type='submit', value="Local Login")
          td
            form(method="get", action="/localSignup")
              input(type='submit', value="Local Signup")
          td
            form(method="get", action="/auth/facebook")
              input(type='submit', value="Facebook")

