html
extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    // Custom styles for this template

block body
    header

    +navbar-static("Olympics Encyclopedia","navbar")
        block navbarcontent
    .container
        // Main component for a primary marketing message or call to action
        .jumbotron
            .main-content
                block content
            .sidebar
                block sidebar
    footer.footer
        .container
            p.text-muted CIS 550 Project Group #11 ---- Olympics Encyclopedia