// Inherits from layout 
extend layout
// Then we produce a form that triggers /actor once
// the user hits Submit
block navbarcontent
  table
    tbody
      tr(height = "17")
      tr
        td(width = "200")
          +nav_item("/","active") Homepage
        td(width = "45")
        td(width = "200")
          +nav_item("/login") Login
        td(width = "45")
        td(width = "200")
          +nav_item("/reference") Contact Us
block content
  .container
 